<div class="card">
<div class="container" *ngIf="flight">

    <div class="container">
        <div class="col-sm-2"><label for="flight.reference">Reference: {{flight.reference}}</label></div>

        <div class="col-sm-4 ">Departure :
            <select required name="departAirpot" #refDeparture="ngModel" (change)="DepartChange(refDeparture.value)" class="form-control" [(ngModel)]="departAirpot">
                <option value="undefined">Select Airport</option>
                <option *ngFor="let airport of airports" [ngValue]="airport.code">
                    {{airport.name}}
                </option>
            </select>
        </div>
        <div class="col-sm-4 "> Destination :
            <select required name="destinationAirport" #refDestination="ngModel" class="form-control"
                (change)="DestinationChange(refDestination.value)" [(ngModel)]="destinationAirport">
                <option value="undefined">Select Airport</option>
                <option *ngFor="let airport of airports" [ngValue]="airport.code">
                    {{airport.name}}
                </option>
            </select>


        </div>

        <div >
            <button class="btn btn-primary" routerLink="/fulldetails/{{flight.reference}}">details</button>
            <button class="btn btn-danger" (click)="delete()">delete</button>
            <button class="btn btn-success" (click)="save()" [ngClass]="isValide ? 'active' : 'disabled'">Save</button>
        </div>


    </div>

</div>

</div>